p {
    /* width: 200px;
    height: 100px; */
    background-color: #3498db; /* 파란색 배경 */
    margin: 10px; /* 바깥쪽 여백 설정 */
    display: block; /* 블록 속성 지정 */
    color : rgb(170,131,47);
}

/* 인라인 속성을 갖는 텍스트 */
.inline-text {
    background-color: #e74c3c; /* 빨간색 배경 */
    padding: 5px; /* 안쪽 여백 설정 */
    display: inline; /* 인라인 속성 지정 */
}